/* *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(247, 247, 241);
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
} */
body {
    margin: 0;
    font-family: Arial;
    text-align: center;
    color: white;

    background: linear-gradient(135deg, #60c3df, #53a0db);

    min-height: 100vh;
}

h1 {
    font-size: 45px;
    margin-top: 60px;
}

.search {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 60px;
}

input {
    width: 500px;
    padding: 25px;

    border: none;
    border-radius: 50px;

    font-size: 20px;
    outline: none;
}

button {
    width: 80px;

    border: none;
    border-radius: 50%;

    background: white;
    font-size: 30px;

    cursor: pointer;
}

#result {
    width: 350px;
    margin: 40px auto;

    padding: 25px;

    background: rgba(255,255,255,0.2);
    border-radius: 25px;

    font-size: 22px;
}